
<mat-toolbar class="app-toolbar" color="transparent">
  <div class="brand" routerLink="/">
    <mat-icon class="brand-icon">movie</mat-icon>
    <span class="brand-text">MovieReview</span>
  </div>

  <span class="spacer"></span>

  <nav class="nav-links">

    @if (showHomeButton) {
      <a mat-button routerLink="">Home</a>
    }
    
    <!-- Show these buttons when NOT authenticated -->
    @if (!isAuthenticated) {
      @if (showLoginButton) {
        <a mat-button routerLink="login">Login</a>
      }
      @if (showRegisterButton) {
        <a mat-button routerLink="register">Register</a>
      }
    }
     
    <!-- Show user dropdown when authenticated -->
    @if (isAuthenticated) {
      <div class="user-menu">
        <button 
          mat-button 
          [matMenuTriggerFor]="userDropdown"
          class="user-button">
          <!-- <span class="username">{{ currentUsername }}</span> -->

           <span class="username"><mat-icon class="user-avatar">account_circle</mat-icon></span>
          <mat-icon class="dropdown-arrow">keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #userDropdown="matMenu" class="user-dropdown">
          <div class="user-info" mat-menu-item cursor="not-allowed">
            <div class="user-details">

              <!-- <mat-icon class="user-avatar">account_circle</mat-icon> -->
              <div class="user-name">User : {{ currentUsername }}</div>
              @if (hasUserEmail) {
                <div class="user-email">{{ userEmail }}</div>
              }
            </div>
          </div>


          <!-- Add this new menu item -->
          @if (!isOnManageMovies) { 
   <button mat-menu-item routerLink="/manage-movies" class="menu-item">
    <mat-icon>table_view</mat-icon>
    <span>Manage Movies</span>
  </button> 
          }

          
          
          <mat-divider></mat-divider>
          
          <button mat-menu-item (click)="logout()" class="menu-item logout-item">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    }
  </nav>
</mat-toolbar>
